@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    line-height: 1.6;
    
    height: 100vh;
}

header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    color: #44baff;
    font-size: 2rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 500px;
    max-width: 600px;
}

legend h3 {
    margin: 0;
    color: #44baff;
    font-size: 1.6rem;
    font-weight: 500;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.submit-field {
    align-items: start;
    justify-content: start;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    border-color: #44baff;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #44baff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2962ff;
}

@media (max-width: 600px) {
    fieldset {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
        width: calc(100% - 20px);
    }

    legend h3 {
        font-size: 1.4rem;
    }
}
