@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {

    /* Ligh Mode colors */
    --text: #040316;
    --background: #e3e3e8;
    --primary: #44baff;
    --secondary: #2979ff;
    --accent: #2962ff;

    /* Dark mode colors */
    --text-dark: #ffffff;
    --background-dark: #2f2f36;
    --primary-dark: #2962ff;
    --secondary-dark: #2979ff;
    --accent-dark: #44baff;
}

* {
    margin: 16px;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 1rem;
}
h1{
    color: red;
}

body{
    background: var(--background);
}
.sign-up{
    align-items: center;
    width: 100%;
}

header{
    background: var(--primary-dark);
}
main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2, h3{
    text-align: center;
}
table{
    width: 80%;
}
video{
    width: 80%;
    border-radius: 2px;
}
audio{
    width: 80%;
}
fieldset{
    width: 92%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container{
    border: 3px solid #5a5a5a;
}

/* Footer only css */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
    font-size: 14px;
    margin-top: 10px;
}


input[type="text"]
{
    width: 255px;
    height: 27px;
    display: block;
    color: gray;
    border-radius: 10px;
}

select{
    width: 255px;
    color: white;
    height: 30px;
    border-radius: 10px;
    background-color: gray;
}

select:hover{
    background-color: #2962ff;
    color: #040316;
}